$lt-grey: #ddd;
$background-dark : #A82D51;
$background-light : #CD75CD95;
$background-pale : #E9C4D1;

body {
  padding: 55px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background: $background-dark;
}

.navbar-item {
  padding-bottom: 0px;
}



#wrapperSite {
  .modal-content {
    background-color: $background-pale;
  }
  .modal-title {
    color: floralwhite;
  }
  .modal-header {
    background-color: $background-dark;
    .close {
      color: floralwhite;
    }
  }

}


#medicalApp {
  .map-background {
    background-image: url('../img/atlantamap.png');
    height: 600px;
  }
  body {
    background-color: #ddd;
  }

  .reportPin {
    color: orangered;
  }

  .rp1 {
    left: 30px;
    top: 70px;
  }
  .rp2 {
    left: 235px;
    top: 220px;
  }
  .rp3 {
    left: 35px;
    top: 220px;
  }
  .rp4 {
    left: 275px;
    top: 280px;
  }
  .rp5 {
    left: 105px;
    top: 340px;
  }
  .rp6 {
    left: 135px;
    top: 220px;
  }

  #reportView {
    left: 0px;
    top: 400px;
    background-color: floralwhite;
  }
}



#reportingApp {

  body {
    background: linen;
  }
  .modal-content {
    background-color: lightgoldenrodyellow;
  }

  .btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
  }
  .btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
  }
  .btn-circle.btn-xl {
    width: 250px;
    height: 250px;
    padding: 10px 16px;
    border-radius: 125px;
    font-size: 30px;
    text-align: center;
  }
}

