body {
  padding: 55px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background: #A82D51; }

.navbar-item {
  padding-bottom: 0px; }

#wrapperSite .modal-content {
  background-color: #E9C4D1; }

#wrapperSite .modal-title {
  color: floralwhite; }

#wrapperSite .modal-header {
  background-color: #A82D51; }
  #wrapperSite .modal-header .close {
    color: floralwhite; }

#medicalApp .map-background {
  background-image: url("../img/atlantamap.png");
  height: 600px; }

#medicalApp body {
  background-color: #ddd; }

#medicalApp .reportPin {
  color: orangered; }

#medicalApp .rp1 {
  left: 30px;
  top: 70px; }

#medicalApp .rp2 {
  left: 235px;
  top: 220px; }

#medicalApp .rp3 {
  left: 35px;
  top: 220px; }

#medicalApp .rp4 {
  left: 275px;
  top: 280px; }

#medicalApp .rp5 {
  left: 105px;
  top: 340px; }

#medicalApp .rp6 {
  left: 135px;
  top: 220px; }

#medicalApp #reportView {
  left: 0px;
  top: 400px;
  background-color: floralwhite; }

#reportingApp body {
  background: linen; }

#reportingApp .modal-content {
  background-color: lightgoldenrodyellow; }

#reportingApp .btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 8px;
  text-align: center; }

#reportingApp .btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center; }

#reportingApp .btn-circle.btn-xl {
  width: 250px;
  height: 250px;
  padding: 10px 16px;
  border-radius: 125px;
  font-size: 30px;
  text-align: center; }
